#images{
    display:flex;

}
img{
    width: 50%;
}
h1 {
    padding:100px;
    margin-top: 44%;
}
.case {
    display: flex;
    justify-content: space-around;
    width: 30px !important;
    height: 30px !important;
    border: solid;
}

.rangee {
}
#calc{
    margin-left: 10%;
    height: 50%;
    width: 50%;
}